name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # v4.1.7
      - uses: actions/setup-node@v4 # v4.0.3
        with:
          node-version: '24.11.1'
          cache: 'npm'
      - run: npm ci
      - run: npm run test
      - run: npm run build